In [150]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [151]:
data = pd.read_csv('Admission_Predict.csv')

In [152]:
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [153]:
data.drop(["Serial No."], axis = 1, inplace = True)
data.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [154]:
data.describe()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.724350
std,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.142609
min,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.640000
50%,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,0.730000
75%,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,0.830000
max,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

In [155]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   GRE Score          400 non-null    int64
 1   TOEFL Score        400 non-null    int64
 2   University Rating  400 non-null    int64
 3   SOP                400 non-null    float64
 4   LOR                400 non-null    float64
 5   CGPA               400 non-null    float64
 6   Research           400 non-null    int64
 7   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(4)
memory usage: 25.1 KB

In [156]:
x = data.iloc[:,0:7].values
x

array([[337.  , 118.  ,   4.  , ...,   4.5 ,   9.65,   1.  ],
       [324.  , 107.  ,   4.  , ...,   4.5 ,   8.87,   1.  ],
       [316.  , 104.  ,   3.  , ...,   3.5 ,   8.  ,   1.  ],
       ...,
       [330.  , 116.  ,   4.  , ...,   4.5 ,   9.45,   1.  ],
       [312.  , 103.  ,   3.  , ...,   4.  ,   8.78,   0.  ],
       [333.  , 117.  ,   4.  , ...,   4.  ,   9.66,   1.  ]])

In [157]:
y = data.iloc[:,7].values
print(y[:15])
y = [int(c>0.50) for c in y]
print(y[:15])

[0.92 0.76 0.72 0.8  0.65 0.9  0.75 0.68 0.5  0.45 0.52 0.84 0.78 0.62
 0.61]
[1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1]

In [158]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 10)

In [182]:
print("Shape of training split : ",X_train.shape)
print("Shape of test split : ",X_test.shape)
print("Number of training samples : ", len(y_train))
print("number of testing samples : ", len(y_test))

Shape of training split :  (320, 7)
Shape of test split :  (80, 7)
Number of training samples :  320
number of testing samples :  80

In [160]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
print(X_train[:20])
print(X_test[:20])
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
print(X_train[:20])
print(X_test[:20])

[[323.   107.     3.     3.5    3.5    8.55   1.  ]
 [313.   101.     3.     2.5    3.     8.04   0.  ]
 [311.   106.     2.     3.5    3.     8.26   1.  ]
 [322.   107.     3.     3.5    3.5    8.46   1.  ]
 [320.   111.     4.     4.5    3.5    8.87   1.  ]
 [314.   106.     2.     4.     3.5    8.25   0.  ]
 [312.   101.     2.     2.5    3.5    8.04   1.  ]
 [316.   109.     3.     3.5    3.     8.76   0.  ]
 [323.   110.     5.     4.     5.     8.98   1.  ]
 [321.   112.     5.     5.     5.     9.06   1.  ]
 [335.   117.     5.     5.     5.     9.82   1.  ]
 [328.   115.     4.     4.5    4.     9.16   1.  ]
 [313.   107.     3.     4.     4.5    8.69   0.  ]
 [338.   120.     4.     5.     5.     9.66   1.  ]
 [325.   106.     3.     3.5    4.     8.4    1.  ]
 [327.   112.     3.     3.     3.     8.72   1.  ]
 [312.   107.     3.     3.     3.     8.46   1.  ]
 [331.   112.     5.     4.     5.     9.8    1.  ]
 [305.   107.     2.     2.5    2.5    8.42   0.  ]
 [312.   105.     3.     2.     3.     8.02   1.  ]]
[[308.   106.     3.     3.5    2.5    8.21   1.  ]
 [321.   109.     4.     4.     4.     8.68   1.  ]
 [303.   100.     2.     3.     3.5    8.06   1.  ]
 [295.    99.     2.     2.5    3.     7.65   0.  ]
 [316.   102.     3.     2.     3.     7.4    0.  ]
 [311.    99.     1.     2.5    3.     8.43   1.  ]
 [340.   120.     4.     5.     5.     9.5    1.  ]
 [331.   117.     4.     4.5    5.     9.42   1.  ]
 [331.   115.     5.     4.     3.5    9.44   1.  ]
 [305.   108.     5.     3.     3.     8.48   0.  ]
 [327.   104.     5.     3.     3.5    8.84   1.  ]
 [322.   110.     4.     4.     5.     9.13   1.  ]
 [321.   109.     3.     3.     3.     8.54   1.  ]
 [315.   100.     1.     2.     2.5    7.95   0.  ]
 [336.   119.     5.     4.     3.5    9.8    1.  ]
 [329.   113.     5.     5.     4.5    9.45   1.  ]
 [296.    95.     2.     3.     2.     7.54   1.  ]
 [325.   112.     4.     3.5    3.5    8.92   0.  ]
 [332.   117.     4.     4.5    4.     9.1    0.  ]
 [324.   107.     5.     3.5    4.     8.66   1.  ]]
[[0.66       0.53571429 0.5        0.625      0.625      0.56089744
  1.        ]
 [0.46       0.32142857 0.5        0.375      0.5        0.3974359
  0.        ]
 [0.42       0.5        0.25       0.625      0.5        0.46794872
  1.        ]
 [0.64       0.53571429 0.5        0.625      0.625      0.53205128
  1.        ]
 [0.6        0.67857143 0.75       0.875      0.625      0.66346154
  1.        ]
 [0.48       0.5        0.25       0.75       0.625      0.46474359
  0.        ]
 [0.44       0.32142857 0.25       0.375      0.625      0.3974359
  1.        ]
 [0.52       0.60714286 0.5        0.625      0.5        0.62820513
  0.        ]
 [0.66       0.64285714 1.         0.75       1.         0.69871795
  1.        ]
 [0.62       0.71428571 1.         1.         1.         0.72435897
  1.        ]
 [0.9        0.89285714 1.         1.         1.         0.96794872
  1.        ]
 [0.76       0.82142857 0.75       0.875      0.75       0.75641026
  1.        ]
 [0.46       0.53571429 0.5        0.75       0.875      0.60576923
  0.        ]
 [0.96       1.         0.75       1.         1.         0.91666667
  1.        ]
 [0.7        0.5        0.5        0.625      0.75       0.51282051
  1.        ]
 [0.74       0.71428571 0.5        0.5        0.5        0.61538462
  1.        ]
 [0.44       0.53571429 0.5        0.5        0.5        0.53205128
  1.        ]
 [0.82       0.71428571 1.         0.75       1.         0.96153846
  1.        ]
 [0.3        0.53571429 0.25       0.375      0.375      0.51923077
  0.        ]
 [0.44       0.46428571 0.5        0.25       0.5        0.39102564
  1.        ]]
[[0.36       0.5        0.5        0.625      0.375      0.45192308
  1.        ]
 [0.62       0.60714286 0.75       0.75       0.75       0.6025641
  1.        ]
 [0.26       0.28571429 0.25       0.5        0.625      0.40384615
  1.        ]
 [0.1        0.25       0.25       0.375      0.5        0.2724359
  0.        ]
 [0.52       0.35714286 0.5        0.25       0.5        0.19230769
  0.        ]
 [0.42       0.25       0.         0.375      0.5        0.5224359
  1.        ]
 [1.         1.         0.75       1.         1.         0.86538462
  1.        ]
 [0.82       0.89285714 0.75       0.875      1.         0.83974359
  1.        ]
 [0.82       0.82142857 1.         0.75       0.625      0.84615385
  1.        ]
 [0.3        0.57142857 1.         0.5        0.5        0.53846154
  0.        ]
 [0.74       0.42857143 1.         0.5        0.625      0.65384615
  1.        ]
 [0.64       0.64285714 0.75       0.75       1.         0.74679487
  1.        ]
 [0.62       0.60714286 0.5        0.5        0.5        0.55769231
  1.        ]
 [0.5        0.28571429 0.         0.25       0.375      0.36858974
  0.        ]
 [0.92       0.96428571 1.         0.75       0.625      0.96153846
  1.        ]
 [0.78       0.75       1.         1.         0.875      0.84935897
  1.        ]
 [0.12       0.10714286 0.25       0.5        0.25       0.23717949
  1.        ]
 [0.7        0.71428571 0.75       0.625      0.625      0.67948718
  0.        ]
 [0.84       0.89285714 0.75       0.875      0.75       0.73717949
  0.        ]
 [0.68       0.53571429 1.         0.625      0.75       0.59615385
  1.        ]]

In [161]:
from sklearn.linear_model import LogisticRegression
cls = LogisticRegression(random_state = 0)
lr = cls.fit(X_train, y_train)

In [162]:
y_pred = lr.predict(X_test)
from sklearn.metrics import accuracy_score, recall_score, roc_auc_score, confusion_matrix
print("\n Acccuracy Score %f " %(accuracy_score(y_test, y_pred)*100))
print("\n Recall Score %f " %(recall_score(y_test, y_pred)*100))
print("\n ROC score %f \n" %(roc_auc_score(y_test, y_pred)*100))
print(confusion_matrix(y_test, y_pred))

 Acccuracy Score 93.750000

 Recall Score 100.000000

 ROC score 50.000000

[[ 0  5]
 [ 0 75]]

GRE Score            330.00
TOEFL Score          115.00
University Rating      5.00
SOP                    4.50
LOR                    3.00
CGPA                   9.34
Research               1.00
Chance of Admit        0.90
Name: 5, dtype: float64

Actual:  0.9
Prediction :  [1]

In [164]:
test1 = data.iloc[10,:]
print(test1)
print("\nActual: ", test1[7])
test1 = scaler.transform([test1[:7]])
print("Prediction : ",lr.predict(test1))

GRE Score            325.00
TOEFL Score          106.00
University Rating      3.00
SOP                    3.50
LOR                    4.00
CGPA                   8.40
Research               1.00
Chance of Admit        0.52
Name: 10, dtype: float64

Actual:  0.52
Prediction :  [1]

In [165]:
test1 = data.iloc[9,:]
print(test1)
print("\nActual: ", test1[7])
test1 = scaler.transform([test1[:7]])
print("Prediction : ",lr.predict(test1))

GRE Score            323.00
TOEFL Score          108.00
University Rating      3.00
SOP                    3.50
LOR                    3.00
CGPA                   8.60
Research               0.00
Chance of Admit        0.45
Name: 9, dtype: float64

Actual:  0.45
Prediction :  [1]

In [166]:
test1 = data.iloc[8,:]
print(test1)
print("\nActual: ", test1[7])
test1 = scaler.transform([test1[:7]])
print("Prediction : ",lr.predict(test1))

GRE Score            302.0
TOEFL Score          102.0
University Rating      1.0
SOP                    2.0
LOR                    1.5
CGPA                   8.0
Research               0.0
Chance of Admit        0.5
Name: 8, dtype: float64

Actual:  0.5
Prediction :  [1]

In [167]:
test1 = data.iloc[28,:]
print(test1)
print("\nActual: ", test1[7])
test1 = scaler.transform([test1[:7]])
print("Prediction : ",lr.predict(test1))

GRE Score            295.00
TOEFL Score           93.00
University Rating      1.00
SOP                    2.00
LOR                    2.00
CGPA                   7.20
Research               0.00
Chance of Admit        0.46
Name: 28, dtype: float64

Actual:  0.46
Prediction :  [0]

In [168]:
test1 = data.iloc[58,:]
print(test1)
print("\nActual: ", test1[7])
test1 = scaler.transform([test1[:7]])
print(test1)
print("Prediction : ",lr.predict(test1))

GRE Score            300.00
TOEFL Score           99.00
University Rating      1.00
SOP                    3.00
LOR                    2.00
CGPA                   6.80
Research               1.00
Chance of Admit        0.36
Name: 58, dtype: float64

Actual:  0.36
[[0.2  0.25 0.   0.5  0.25 0.   1.  ]]
Prediction :  [1]

In [169]:
test1 = data.iloc[59,:]
print(test1)
print("\nActual: ", test1[7])
test1 = scaler.transform([test1[:7]])
print(test1)
print("Prediction : ",lr.predict(test1))

GRE Score            311.00
TOEFL Score          104.00
University Rating      2.00
SOP                    2.00
LOR                    2.00
CGPA                   8.30
Research               0.00
Chance of Admit        0.42
Name: 59, dtype: float64

Actual:  0.42
[[0.42       0.42857143 0.25       0.25       0.25       0.48076923
  0.        ]]
Prediction :  [1]

In [170]:
test1 = data.iloc[88,:]
print(test1)
print("\nActual: ", test1[7])
test1 = scaler.transform([test1[:7]])
print(test1)
print("Prediction : ",lr.predict(test1))

GRE Score            314.00
TOEFL Score          108.00
University Rating      3.00
SOP                    4.50
LOR                    3.50
CGPA                   8.14
Research               0.00
Chance of Admit        0.64
Name: 88, dtype: float64

Actual:  0.64
[[0.48       0.57142857 0.5        0.875      0.625      0.42948718
  0.        ]]
Prediction :  [1]

In [171]:
test1 = data.iloc[116,:]
print(test1)
print("\nActual: ", test1[7])
test1 = scaler.transform([test1[:7]])
print(test1)
print("Prediction : ",lr.predict(test1))

GRE Score            299.00
TOEFL Score          102.00
University Rating      3.00
SOP                    4.00
LOR                    3.50
CGPA                   8.62
Research               0.00
Chance of Admit        0.56
Name: 116, dtype: float64

Actual:  0.56
[[0.18       0.35714286 0.5        0.75       0.625      0.58333333
  0.        ]]
Prediction :  [1]

In [172]:
test1 = data.iloc[266,:]
print(test1)
print("\nActual: ", test1[7])
test1 = scaler.transform([test1[:7]])
print(test1)
print("Prediction : ",lr.predict(test1))

GRE Score            312.00
TOEFL Score          105.00
University Rating      2.00
SOP                    2.00
LOR                    2.50
CGPA                   8.45
Research               0.00
Chance of Admit        0.72
Name: 266, dtype: float64

Actual:  0.72
[[0.44       0.46428571 0.25       0.25       0.375      0.52884615
  0.        ]]
Prediction :  [1]

In [173]:
test1 = data.iloc[376,:]
print(test1)
print("\nActual: ", test1[7])
test1 = scaler.transform([test1[:7]])
print(test1)
print("Prediction : ",lr.predict(test1))

GRE Score            297.00
TOEFL Score           96.00
University Rating      2.00
SOP                    2.50
LOR                    2.00
CGPA                   7.43
Research               0.00
Chance of Admit        0.34
Name: 376, dtype: float64

Actual:  0.34
[[0.14       0.14285714 0.25       0.375      0.25       0.20192308
  0.        ]]
Prediction :  [1]

In [174]:
test1 = data.iloc[347,:]
print(test1)
print("\nActual: ", test1[7])
test1 = scaler.transform([test1[:7]])
print(test1)
print("Prediction : ",lr.predict(test1))

GRE Score            299.00
TOEFL Score           94.00
University Rating      1.00
SOP                    1.00
LOR                    1.00
CGPA                   7.34
Research               0.00
Chance of Admit        0.42
Name: 347, dtype: float64

Actual:  0.42
[[0.18       0.07142857 0.         0.         0.         0.17307692
  0.        ]]
Prediction :  [0]

In [179]:
test1 = data.iloc[289,:]
print(test1)
print("\nActual: ", test1[7])
test1 = scaler.transform([test1[:7]])
print(test1)
print("Prediction : ",lr.predict(test1))

GRE Score            313.00
TOEFL Score          109.00
University Rating      3.00
SOP                    4.00
LOR                    3.50
CGPA                   9.00
Research               0.00
Chance of Admit        0.79
Name: 289, dtype: float64

Actual:  0.79
[[0.46       0.60714286 0.5        0.75       0.625      0.70512821
  0.        ]]
Prediction :  [1]

In [180]:
test1 = data.iloc[329,:]
print(test1)
print("\nActual: ", test1[7])
test1 = scaler.transform([test1[:7]])
print(test1)
print("Prediction : ",lr.predict(test1))

GRE Score            297.00
TOEFL Score           96.00
University Rating      2.00
SOP                    2.50
LOR                    1.50
CGPA                   7.89
Research               0.00
Chance of Admit        0.43
Name: 329, dtype: float64

Actual:  0.43
[[0.14       0.14285714 0.25       0.375      0.125      0.34935897
  0.        ]]
Prediction :  [1]

In [181]:
test1 = data.iloc[344,:]
print(test1)
print("\nActual: ", test1[7])
test1 = scaler.transform([test1[:7]])
print(test1)
print("Prediction : ",lr.predict(test1))

GRE Score            295.00
TOEFL Score           96.00
University Rating      2.00
SOP                    1.50
LOR                    2.00
CGPA                   7.34
Research               0.00
Chance of Admit        0.47
Name: 344, dtype: float64

Actual:  0.47
[[0.1        0.14285714 0.25       0.125      0.25       0.17307692
  0.        ]]
Prediction :  [0]