In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv('Admission_Predict.csv')

In [5]:
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [6]:
data.drop(["Serial No."], axis = 1, inplace = True)
data.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [7]:
data.describe()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.724350
std,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.142609
min,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.640000
50%,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,0.730000
75%,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,0.830000
max,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   GRE Score          400 non-null    int64
 1   TOEFL Score        400 non-null    int64
 2   University Rating  400 non-null    int64
 3   SOP                400 non-null    float64
 4   LOR                400 non-null    float64
 5   CGPA               400 non-null    float64
 6   Research           400 non-null    int64
 7   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(4)
memory usage: 25.1 KB

In [9]:
x = data.iloc[:,0:7].values
x

array([[337.  , 118.  ,   4.  , ...,   4.5 ,   9.65,   1.  ],
       [324.  , 107.  ,   4.  , ...,   4.5 ,   8.87,   1.  ],
       [316.  , 104.  ,   3.  , ...,   3.5 ,   8.  ,   1.  ],
       ...,
       [330.  , 116.  ,   4.  , ...,   4.5 ,   9.45,   1.  ],
       [312.  , 103.  ,   3.  , ...,   4.  ,   8.78,   0.  ],
       [333.  , 117.  ,   4.  , ...,   4.  ,   9.66,   1.  ]])

In [10]:
y = data.iloc[:,7].values
print(y[:15])

[0.92 0.76 0.72 0.8  0.65 0.9  0.75 0.68 0.5  0.45 0.52 0.84 0.78 0.62
 0.61]

In [18]:
print("Shape of training split : ",X_train.shape)
print("Shape of test split : ",X_test.shape)
print("Number of training samples : ", len(y_train))
print("number of testing samples : ", len(y_test))

Shape of training split :  (320, 7)
Shape of test split :  (80, 7)
Number of training samples :  320
number of testing samples :  80

In [20]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
# Train the model on training data
rf.fit(X_train, y_train);

In [23]:
#Use the forest's predict method on the test data
predictions = rf.predict(X_test)
# Calculate the absolute errors
errors = abs(predictions - y_test)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2),)

Mean Absolute Error: 0.05

In [24]:
# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / y_test)
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 92.5 %.

In [29]:
test1 = data.iloc[5,:]
print(test1)
print("\nActual: ", test1[7])
print("Prediction : ",rf.predict([test1[:7]]))

GRE Score            330.00
TOEFL Score          115.00
University Rating      5.00
SOP                    4.50
LOR                    3.00
CGPA                   9.34
Research               1.00
Chance of Admit        0.90
Name: 5, dtype: float64

Actual:  0.9
Prediction :  [0.90671]

In [27]:
test1 = data.iloc[58,:]
print(test1)
print("\nActual: ", test1[7])
print("Prediction : ",rf.predict([test1[:7]]))

GRE Score            300.00
TOEFL Score           99.00
University Rating      1.00
SOP                    3.00
LOR                    2.00
CGPA                   6.80
Research               1.00
Chance of Admit        0.36
Name: 58, dtype: float64

Actual:  0.36
Prediction :  [0.41673]

In [30]:
test1 = data.iloc[9,:]
print(test1)
print("\nActual: ", test1[7])
print("Prediction : ",rf.predict([test1[:7]]))

GRE Score            323.00
TOEFL Score          108.00
University Rating      3.00
SOP                    3.50
LOR                    3.00
CGPA                   8.60
Research               0.00
Chance of Admit        0.45
Name: 9, dtype: float64

Actual:  0.45
Prediction :  [0.54301]

In [31]:
test1 = data.iloc[8,:]
print(test1)
print("\nActual: ", test1[7])
print("Prediction : ",rf.predict([test1[:7]]))

GRE Score            302.0
TOEFL Score          102.0
University Rating      1.0
SOP                    2.0
LOR                    1.5
CGPA                   8.0
Research               0.0
Chance of Admit        0.5
Name: 8, dtype: float64

Actual:  0.5
Prediction :  [0.52155]

In [32]:
test1 = data.iloc[376,:]
print(test1)
print("\nActual: ", test1[7])
print("Prediction : ",rf.predict([test1[:7]]))

GRE Score            297.00
TOEFL Score           96.00
University Rating      2.00
SOP                    2.50
LOR                    2.00
CGPA                   7.43
Research               0.00
Chance of Admit        0.34
Name: 376, dtype: float64

Actual:  0.34
Prediction :  [0.38772]

In [92]:
# Top n university predictions using random forest regression
test = np.array(data.iloc[5,:7])
test

array([330.  , 115.  ,   5.  ,   4.5 ,   3.  ,   9.34,   1.  ])

In [93]:
n = 5
print("top ", n, " universities")
for i in range(1,n+1):
    test1 = []
    test1.extend(test[0:2])
    test1.append(float(i))
    test1.extend(test[3:7])
    print("\nUniversity rating ",i,rf.predict([test1]))

top  5  universities

University rating  1 [0.90043]

University rating  2 [0.90048]

University rating  3 [0.90047]

University rating  4 [0.90296]

University rating  5 [0.90671]