# Basic Python

## 1. Split this string

In [10]:
s = "Hi there Sam!"

In [11]:
string= s.split()
print(string)

['Hi', 'there', 'Sam!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [12]:
planet = "Earth"
diameter = 12742

In [13]:
string = "The diameter of {} is {} kilometers.".format(planet,diameter)
print(string)

The diameter of Earth is 12742 kilometers.

## 3. In this nest dictionary grab the word "hello"

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
level0 = d['k1']
level1 = level0[3]['tricky']
level2 = level1[3]['target']
level3 = level2[3]
print(level3)

hello

# Numpy

In [15]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [16]:
Zeros = np.zeros(10)
print(Zeros)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [17]:
Fives = np.ones(10)*5
print(Fives)

[5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

## 5. Create an array of all the even integers from 20 to 35

In [22]:
evenint = np.arange(20,35,2)
print(evenint)

[20 22 24 26 28 30 32 34]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [19]:
mat = np.arange(0,9).reshape(3,3)
print(mat)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [20]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
concat = np.concatenate((a,b))
print(concat)

[1 2 3 4 5 6]

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [21]:
import pandas as pd

In [27]:
dtframe = pd.DataFrame([[0,0],[0,1],[0,2]])
print(dtframe)

   0  1
0  0  0
1  0  1
2  0  2

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [28]:
date = pd.date_range(start = "01/01/2023", end = "10/02/2023")
print(date)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10',
               ...
               '2023-09-23', '2023-09-24', '2023-09-25', '2023-09-26',
               '2023-09-27', '2023-09-28', '2023-09-29', '2023-09-30',
               '2023-10-01', '2023-10-02'],
              dtype='datetime64[ns]', length=275, freq='D')

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [30]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [31]:
dtframe = pd.DataFrame(lists)
print(dtframe)

   0    1   2
0  1  aaa  22
1  2  bbb  25
2  3  ccc  24